.project-body {
    min-width: 1920px;
    --desktop-width:1152px
}

.image-section{
    
    
}

.page {
    height:100%;
    width:100%; 
    padding: 1%;
    
    box-sizing: border-box;
    pointer-events: auto;
}
.page .row {
    gap: 1%;
}
.embed {
    height: 100%;
    position: relative;
    overflow: visible;

    flex: 1 0 auto;
    min-width: 0;
    aspect-ratio: 16/9;
}
.embed .note {
    font-style: italic;
    font-size: 0.8rem;
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
}
.highlight {
    background-color: rgb(255, 222, 76);
    color: black;
    font-weight: bold;
}
.topic {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 3%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.title {
    font-weight: bold;
    font-size: 1.75rem;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.text {
    
    min-width: 0;
}
