body {
	background-color: white;
	background-image: url("../images/style/sky_only2.png"), url("../images/style/ocean_tile3.png");
	background-size: 100% auto, 100% auto;
	background-repeat: repeat-x, repeat;
	background-position-y: 0, 346px;
	/* background-image: url("../images/style/ocean.jpg");
	background-size: 100% auto; */
	background-attachment: fixed;
	color: black;
	font-family: Verdana;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width:100%;
	
	--mobile-mode: if(media(width<1450px): true; else: false);
	--border-width: 0.1vw;
	--header-anim-time: 10s;
	
	animation: scrollBackground 60s linear infinite;
}
@keyframes scrollBackground {
  0% {
    background-position-x: 0, 0;
  }
  100% {
    background-position-x: -640px, -1280px; 
  }
}


.absolute-container {
	width: if(style(--mobile-mode: true):90vw; else:60vw);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.contained {
	max-width: 100%;
	box-sizing: border-box;
}
.column {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}
.website-header {
	margin-bottom: 1vh;
}


.navbar {
	display: flex;
	justify-content: flex-end;
	padding: 0vw;
	box-sizing: border-box;
	flex-direction: row;
	background-image: linear-gradient(to right, white);
	box-shadow: inset 0 0 0 var(--border-width) white;
	color: white;
	height: 6vh;
	width: 100%;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	
}
.navbar .element {
	position:relative;
	text-align: center;
	height:100%;
	width:auto;
	flex-basis: 100%;
	background-color: #fcffd8;
	/* background-color: #A3FF1E; */
	border: var(--border-width) outset white;
	box-sizing: border-box;
	font-size: 2vw;
	color: #94967e; 
	-webkit-text-stroke: 0.01vw #d6d8c1;

	/*box-shadow: 
	inset 2px 2px 0 2px darkgray,
	inset 0 0 0 4px gainsboro;*/
}
.navbar .element:hover {
	/*background-color: rgb(220,220,220);*/
	cursor: pointer;
	transform: translate(0px,calc(var(--border-width) * -1));
	box-shadow:  0 var(--border-width) 0 0 black;
}





.button-container {
	position:relative;
	text-align: center;
	aspect-ratio:0.8/1;
	height:100%;
	/* width: auto; */
	width:0;
	background-color: rgb(240,240,240);
	border: var(--border-width) outset white;
	box-sizing: border-box;
	visibility: hidden;

	/*box-shadow: 
	inset 2px 2px 0 2px darkgray,
	inset 0 0 0 4px gainsboro;*/
}
.button-container a {
	position:relative;
	display: block;
	width:100%;
	height:100%;
	z-index: 100;
}
.button-container img {
	image-rendering: pixelated;
	width:90%;
	height: auto;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.button-container:hover {
	/*background-color: rgb(220,220,220);*/
	cursor: pointer;
	transform: translate(0px,calc(var(--border-width) * -1));
	box-shadow:  0 var(--border-width) 0 0 black;
}


.project {
	display: flex;
	flex-direction: if(style(--mobile-mode: true):column; else:row;);

	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	gap: 1vw;
}
.project .icon {
	margin: 0 auto;
	max-height:400px;
	max-width: min(100%, 400px);
	flex-grow:3;
	pointer-events: auto;
	
	animation: pIconUnhover 0.5s forwards;
}
.project .textbox {
	order: 1;
	display:flex; 
	flex-direction: column; 
	flex-basis: 0%;
	flex-grow:2;
	padding: 0 1vw 1vw 1vw;
	font-size: 110%;
	border: 0.3vw outset white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project .icon:hover{
	animation: pIconHover var(--duration) forwards;
	--duration: 0.5s;
	cursor: pointer;
}
@keyframes pIconHover {
	from {
		scale: 1.0;
		rotate: 0deg;
	}
	to {
		scale: 1.05;
		rotate: 5deg;
	}
}
@keyframes pIconUnhover {
	from {
		scale: 1.05;
		rotate: 5deg;
	}
	to {
		scale: 1.0;
		rotate: 0deg;
	}
}


.gif{
	position:absolute; 
	right:-22vw; 
	top:-2vw; 
	z-index: 100;
	aspect-ratio: 1/0.9;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	scale: 0.8;
	width:23vw;
}

.text-bubble{
	padding: 1%;
	scale: 0.92;
}
.text-bubble .header {
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	border: 0.3vw outset white;
	border-radius: 20px;
	
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	text-align: center;
	font-size: 170%;
	padding: 1%;
	margin-top: 0%;
}
.text-bubble .body {
	background-color: rgba(240, 240, 240, 0.8);
	color: black;
	border: 0.3vw outset gainsboro;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 1%;
	font-size: 140%;
	
}

.rounded {
  position: relative;
  padding: 20px;
  color: white;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.2);
}
.rounded::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 20px;
  padding: 10px;
  z-index: -1;

  background-image: linear-gradient(skyblue var(--bgc1), dodgerblue var(--bgc2), blue var(--bgc3), dodgerblue var(--bgc4), skyblue var(--bgc5));
  background-origin: border-box;
  background-clip: border-box;
  
  mask-image: linear-gradient(white), linear-gradient(white);
  mask-clip: content-box, border-box;
  mask-composite: exclude;

  animation: headerAnimation var(--header-anim-time) linear infinite;
}





