:root{
	--desktop-width:1152px;
	--border-width: 1.5px;
}
@media screen and (max-width: 1151px) {
	:root {
		--desktop-width:90vw;
	}
}

body {
	background-color: white;
	background-image: url("../images/style/sky_only2.png"), url("../images/style/ocean_tile3.png");
	background-size: 100% auto, 100% auto;
	background-repeat: repeat-x, repeat;
	background-position-y: 0, 346px;
	/* background-image: url("../images/style/ocean.jpg");
	background-size: 100% auto; */
	background-attachment: fixed;
	color: black;
	font-family: Verdana;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width:100%;
	
	--desktop-cutoff:1152px;

	

	
	
	
	
	
	animation: scrollBackground 60s linear infinite;
}
@keyframes scrollBackground {
  0% {
    background-position-x: 0, 0;
  }
  100% {
    background-position-x: -640px, -1280px; 
  }
}


.absolute-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: var(--desktop-width);
	min-width: 400px;
	width:100%;
}
.contained {
	max-width: 100%;
	box-sizing: border-box;
}
.column {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}
.website-header {
	margin-bottom: 1vh;
}
.hidden {
	display: none;
}


.navbar {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	box-sizing: border-box;
	flex-direction: row;
	background-color:black;
	box-shadow: inset 0 0 0 var(--border-width) white;
	color: white;
	height: 6vh;
	width: 100%;
	margin-bottom: 1vh;
}
.navbar .element {
	position:relative;
	text-align: center;
	height:100%;
	width:auto;
	flex-basis: 100%;
	background-color: white;
	border: var(--border-width) outset white;
	box-sizing: border-box;
	font-size: 200%;
	/* color: hsl(0, 0%, 20%);  */
	color: white;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: center;

	/*box-shadow: 
	inset 2px 2px 0 2px darkgray,
	inset 0 0 0 4px gainsboro;*/
}
.navbar .element:hover {
	cursor: pointer;
	transform: translate(0px,calc(var(--border-width) * -2));
	box-shadow:  0 var(--border-width) 0 0 black;
	z-index: 1;
}


.copyright {
	font-size: 80%; 
	font-family: 'MS UI Gothic', sans-serif;
	font-style: italic;
}
.copyright::after{
	content: "copyright © 2026 Liam Burley";
}






.text-bubble{
	padding: 0.5%;
	scale: 0.94;
}
.text-bubble .header {
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	border: calc(var(--border-width)*3) outset white;
	border-radius: 20px;
	
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	text-align: center;
	font-size: 170%;
	padding: 1%;
	margin-top: 0%;
}
.text-bubble .body {
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	border: calc(var(--border-width)*3) outset gainsboro;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 2%;
}


.rounded {
  position: relative;
  padding: 20px;
  color: white;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.2);
}
.rounded::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 20px;
  padding: 10px;
  z-index: -1;

  background-image: linear-gradient(skyblue var(--bgc1), dodgerblue var(--bgc2), blue var(--bgc3), dodgerblue var(--bgc4), skyblue var(--bgc5));
  background-origin: border-box;
  background-clip: border-box;
  
  mask-image: linear-gradient(white), linear-gradient(white);
  mask-clip: content-box, border-box;
  mask-composite: exclude;

  animation: headerAnimation var(--header-anim-time) linear infinite;
}





