body {
	background-color: white;
	background-image: url("../images/style/sky_only.png"), url("../images/style/ocean_tile2.png");
	background-size: 100% auto, 100% auto;
	background-repeat: repeat-x, repeat;
	background-position-y: 0, 346px;
	/* background-image: url("../images/style/ocean.jpg");
	background-size: 100% auto; */
	background-attachment: fixed;
	color: black;
	font-family: Verdana;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width:100%;
	
	--mobile-mode: if(media(width<1600px): true; else: false);
	--border-width: 0.1vw;
	--header-anim-time: 10s;
	
	animation: scrollBackground 60s linear infinite;
}
@keyframes scrollBackground {
  0% {
    background-position-x: 0, 0;
  }
  100% {
    background-position-x: 0, -1280px; 
  }
}


.absolute-container {
	max-width: if(style(--mobile-mode: true):90%; else:60%);
	margin: 0 auto;
}
.container-container {
	/* max-width: if(style(--mobile-mode: true):90%; else:60%); */
	background-color: black;
}
.contained {
	max-width: 100%;
	box-sizing: border-box;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.row {
	display: flex;
	flex-direction: row;
}


.website-header {
	height: 10vw;
	font-size:400%;
	margin-bottom: 1vh;
}


.navbar {
	display: flex;
	justify-content: flex-end;
	padding: 0vw;
	box-sizing: border-box;
	flex-direction: row;
	background-image: linear-gradient(to right, white);
	box-shadow: inset 0 0 0 var(--border-width) white;
	color: white;
	height: 6vh;
	width: 100%;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	
}
.navbar .element {
	position:relative;
	text-align: center;
	height:100%;
	width:auto;
	flex-basis: 100%;
	background-color: #fcffd8;
	/* background-color: #A3FF1E; */
	border: var(--border-width) outset white;
	box-sizing: border-box;
	font-size: 2vw;
	color: #94967e; 
	-webkit-text-stroke: 0.01vw #d6d8c1;

	/*box-shadow: 
	inset 2px 2px 0 2px darkgray,
	inset 0 0 0 4px gainsboro;*/
}
.navbar .element:hover {
	/*background-color: rgb(220,220,220);*/
	cursor: pointer;
	transform: translate(0px,calc(var(--border-width) * -1));
	box-shadow:  0 var(--border-width) 0 0 black;
}


.window {
	border: var(--border-width) outset rgb(150,150,150);
	/* height: fit-content; */
	max-width: 100%;
	overflow: hidden;
	
}
.project-window {
	margin: 0 auto;
	margin-bottom: 2vh;
	width: if(style(--mobile-mode: true):90%; else:70vw);
}
.desktop-window {
	visibility: if(style(--mobile-mode: true):hidden; else:visible);
}


.header-container {
	display: flex;
	justify-content: flex-end;
	padding: 0.5vw;
	box-sizing: border-box;
	flex-direction: row;
	background-image: linear-gradient(100deg, skyblue var(--bgc1), dodgerblue var(--bgc2), blue var(--bgc3), dodgerblue var(--bgc4),skyblue var(--bgc5));
	box-shadow: inset 0 0 0 var(--border-width) white;
	color: white;
	height: 6vh;

	pointer-events: auto;
	animation: headerAnimation var(--header-anim-time) linear infinite;
}
.header-container .name {
	flex-grow:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow:hidden;
	text-align: left;
	padding-left:1vw;
	font-family: 'Times New Roman';
	font-size: 200%;
}
.header-container .icon {

	position: relative;
	overflow: hidden;
	height:contain;
	aspect-ratio: 1/1;
	box-sizing: border-box;
}
.header-container .icon img {
	height: 100%;
	width: auto;
}
@property --bgc1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%;
}
@property --bgc2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}
@property --bgc3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 20%;
}
@property --bgc4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}
@property --bgc5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%;
}
@keyframes headerAnimation {
  0% {
	--bgc1: -100%;
	--bgc2: -70%;
	--bgc3: -50%;
	--bgc4: -30%;
	--bgc5: 0%;
  }
  100% {
	--bgc1: 100%;
	--bgc2: 130%;
	--bgc3: 150%;
	--bgc4: 200%;
	--bgc5: 220%;
  }
}

.content-container{
	pointer-events: none;
	position:relative;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	border: var(--border-width) solid white;
	border-top: none;
	box-shadow: 
		inset calc(var(--border-width)/2) calc(var(--border-width)/2) 0 calc(var(--border-width)/2) darkgray,
		inset 0 0 0 var(--border-width) gainsboro;
	height: 100%;
	width: 100%;
	color: white;
	background-clip: border-box;
}
.content-container .content{
	padding: 1% 5%;

	flex-grow: 1;
	order: 1;
	z-index: -1;
	max-height: 100%;
	/*font-size:1vw;*/
}


.button-container {
	position:relative;
	text-align: center;
	aspect-ratio:0.8/1;
	height:100%;
	/* width: auto; */
	width:0;
	background-color: rgb(240,240,240);
	border: var(--border-width) outset white;
	box-sizing: border-box;
	visibility: hidden;

	/*box-shadow: 
	inset 2px 2px 0 2px darkgray,
	inset 0 0 0 4px gainsboro;*/
}
.button-container a {
	position:relative;
	display: block;
	width:100%;
	height:100%;
	z-index: 100;
}
.button-container img {
	image-rendering: pixelated;
	width:90%;
	height: auto;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.button-container:hover {
	/*background-color: rgb(220,220,220);*/
	cursor: pointer;
	transform: translate(0px,calc(var(--border-width) * -1));
	box-shadow:  0 var(--border-width) 0 0 black;
}


.project {
	display: flex;
	flex-direction: if(style(--mobile-mode: true):column; else:row;);

	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	gap: 1vw;
}
.project .icon {
	margin: 0 auto;
	max-height:400px;
	max-width: min(100%, 400px);
	flex-grow:3;
	pointer-events: auto;
	
	animation: pIconUnhover 0.5s forwards;
}
.project .textbox {
	order: 1;
	display:flex; 
	flex-direction: column; 
	flex-basis: 0%;
	flex-grow:2;
	padding: 0 1vw 1vw 1vw;
	font-size: 110%;
	border: 0.3vw outset white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project .icon:hover{
	animation: pIconHover var(--duration) forwards;
	--duration: 0.5s;
	cursor: pointer;
}
@keyframes pIconHover {
	from {
		scale: 1.0;
		rotate: 0deg;
	}
	to {
		scale: 1.05;
		rotate: 5deg;
	}
}
@keyframes pIconUnhover {
	from {
		scale: 1.05;
		rotate: 5deg;
	}
	to {
		scale: 1.0;
		rotate: 0deg;
	}
}


.gif{
	position:absolute; 
	right:-22vw; 
	top:-2vw; 
	z-index: 100;
	aspect-ratio: 1/0.9;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	scale: 0.8;
	width:23vw;
}

.text-bubble-header {
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	border: 0.3vw outset white;
	border-radius: 20px;
	padding: 1%;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	text-align: center;
	font-size: 150%;
	margin-top: 4%;
}
.text-bubble-body {
	background-color: rgba(240, 240, 240, 0.8);
	color: black;
	border: 0.3vw outset gainsboro;
	border-radius: 20px;
	padding: 1%;
}

.rounded {
  position: relative;
  padding: 20px;
  color: white;
  z-index: 1;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.2);
}
.rounded::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 20px;
  padding: 10px;
  z-index: -1;

  background-image: linear-gradient(skyblue var(--bgc1), dodgerblue var(--bgc2), blue var(--bgc3), dodgerblue var(--bgc4), skyblue var(--bgc5));
  background-origin: border-box;
  background-clip: border-box;
  
  mask-image: linear-gradient(white), linear-gradient(white);
  mask-clip: content-box, border-box;
  mask-composite: exclude;

  animation: headerAnimation var(--header-anim-time) linear infinite;
}





.tag {
	color: black;
	border-radius: 20px;
	padding: 1%;
	height: 0.5vw;
	font-size: 75%;
	display: flex;
	align-items: center; 
	justify-content: center; 
	margin-bottom: 0.5vw;
	pointer-events: auto;

	--text: "DEFAULT";
	--color: white;
	--ocolor: white;

	background-color: var(--color);
	border: 0.3vw outset var(--ocolor);
}
.tag:hover {
	/* cursor: pointer; */
	transform: translate(0px,calc(var(--border-width) * 2));
	box-shadow:  0 calc(var(--border-width)*-2) 0 0 var(--ocolor);
}
.tag::after {
	content: var(--text);
	font-weight: bold;
	width: fit-content;
}

.tag.levels {
	order: 0;
	--color: rgba(148, 255, 76, 0.9);
	--ocolor: rgba(157, 241, 101, 0.9);
	--text: "LEVELS";
}
.tag.systems{
	order: 1;
	--color: rgba(241, 92, 5, 0.9);
	--ocolor: rgba(228, 122, 60, 0.9);
	--text: "SYSTEMS";
}
.tag.combat{
	order: 2;
	--color: rgba(24, 65, 245, 0.9);
	--ocolor: rgba(71, 104, 255, 0.9);
	--text: "COMBAT";
}
.tag.quests{
	order: 3;
	--color: rgba(248, 52, 215, 0.9);
	--ocolor: rgba(250, 156, 226, 0.9);
	--text: "QUESTS";
}
.tag.multiplayer{
	order: 4;
	--color: rgba(56, 209, 255, 0.9);
	--ocolor: rgba(166, 234, 255, 0.9);
	--text: "MULTIPLAYER";
}
.tag.narrative{
	order: 5;
	--color: rgba(255, 79, 56, 0.9);
	--ocolor: rgba(247, 144, 131, 0.9);
	--text: "NARRATIVE";
}